body {
	margin: 100px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #b8b8b8;
}

.app_container {
	height: 100%;

	.container {
		display: flex;
		flex-direction: column;
		width: 500px;
	}
}
